/* Reseteo HTML */
*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #ECECEC;
    color: #fff;
}
/* Inicio Header */
#bg-header{
    background-color: #001523;
    width: auto;
}
.nombre-tienda{
    color: #fff;
    margin-top: 0%;
    font-family: 'Mitr', sans-serif;
}
#text{
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 1.2em;
}
#tamaño{
    width: 400px;
}
#boton-menu{
    background-color: #CC031D;
    color: #fff;
}
#boton-compra{
    background-color: #CC031D;
    font-family: 'Mulish', sans-serif;
    margin: 0 0 0 25px;
    color: #fff;
}
#boton-compra:hover{
    color: #001523;
    background-color: #FA163F;
}
.fas, .fab{
    color: #fff;
    font-size: 1.2em;
}
body header nav{
    width: 100%;
    background-color: #001523;
    display: grid;
    grid-template-columns: 15% 30% 40% 15%;
    grid-template-areas: 
    'logo nombre-tienda menu-container shopping'; 
    align-items: center;
}
/* Fin de Header */

/* Inicio section dos */
.novedades, .disciplinas{
    width: 620px;
    padding: 0 10px; 
}
/* Final Section dos */
/* Inicio Section tres */
.subtitulo{
    width: 100%;
    font-family: 'Mulish', sans-serif;
    font-size: 4rem;
    text-align: center;
    color: #001523;
}
.adidas, .jordan, .reebok, .new-balance, .nike, .puma{
    width: 100px;
    height: 100px;
}

.adidas:hover, .jordan:hover, .reebok:hover, .new-balance:hover, .nike:hover, .puma:hover{
    transform: rotate(180deg); scale: -2;
}
/* Fin Section tres */
/* Inicio Section cuatro */
.whatsapp{
    width: 50px;
    position: fixed;
    bottom: 0px;
    right: 30px;
}
/* Fin Section cuatro */
/* Bloque de productos casual */
.subtitulos{
    font-family: 'Mulish', sans-serif;
    font-size: 2em;
}
/* Section Casual */
.bg-categorias{
    background-color: #CC031D;
}
.bg-card{
    background-color: #001523;
    margin: 10px;
    padding: 10px;
}
.productos-casuales, .imagen-producto{
    width: 200px;
    margin: 13%;
}
.bg-card:hover{
    background-color:#CC031D;
}
/* Section futbol */
.playlist{
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-size: 1.5rem;
    background-color: #CC031D;
}
/* Inicio Footer */
footer{
    width: 100%;
    background-color: #001523;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    padding: 20px;
}
.suscripcion-footer{
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
}
footer input[type='email']{
    width: calc(100vw - 40vw);
    font-size: 1em;
    font-family: 'Mulish', sans-serif;
    padding: 10px;
    border-radius: 30px 0 0 30px;
    outline: none;
    border: none;
    color: #CC031D;
}
footer input[type='submit']{
    outline: none;
    border: none;
    border-radius: 0 30px 30px 0;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Mulish', sans-serif;
    background-color: #CC031D;
    cursor: pointer;
}
footer input:hover[type='submit']{
    color: #001523;
    background-color: #FA163F;
}
.ubicacion{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.direccion, .mail{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
.fa-map-marker-alt, .fa-envelope{
    margin-right: 5px;
}
.parrafo-direccion, .parrafo-mail{
    grid-column: 2/5;
}
.fab{
    padding: 20px;
}
.redes i:hover{
    color: #CC031D;
}
/* Fin Footer */

/* Media Query */

/* Seccion Cuatro */
@media only screen and (max-width:480px){
    .whatsapp{
        display: none;
    }
    /* Footer */
    .suscripcion-footer,footer input[type='email'],footer input[type='submit']{
        font-size: 14px;
    }
    .ubicacion{
        padding: 10px;
        font-size: 12px;
    }
}