<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <!-- Meta tag -->
    <meta name="description" content="Tienda virtual lider en calzado e indumentaria de primera marca para aficionados o profesionales del baloncesto">
    <!-- KW -->
    <meta name="keywords" content="tienda virtual, indumentaria deportiva, baloncesto, zapatillas jordan, zapatillas puma, gorra jordan, iverson, camiseta, musculosa">

    <!-- Open Graph -->
    <meta property="og:tittle" content="Shoes Market - La mejor calidad en botas e indumentaria para el basketbolista">
    <meta property="og:description" content="Tienda virtual lider en calzado e indumentaria de primera marca para aficionados o profesionales del baloncesto">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../Imagenes/logoshoesmarket/logo-shoes-market.ico" type="image/x-icon">
    

    <title>Shoes Market - La mejor calidad en botas e indumentaria para el basketbolista</title>
</head>
<body>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-header">
            <div class="container">
                <a class="navbar-brand" href="../index.html" target="_blank">
                    <img src="../Imagenes/logoshoesmarket/logo-shoes-market.webp" alt="Logo ShoesMarket" width="55" height="55" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler boton-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row" id="navbarNav">
                    <div>
                        <a class="nombre-tienda" href="../index.html" target="_blank">Shoes Market</a>
                        <h1 class="descripcion-site">Tienda Deportiva</h1>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" id="text" aria-current="page" href="../index.html" target="_blank">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text" href="../views/casual.html" target="_blank">Casual</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text" href="../views/futbol.html" target="_blank">Futbol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text" href="../views/running.html" target="_blank">Running</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text" href="../views/baloncesto.html">Baloncesto</a>
                        </li>
                        <form class="container-fluid justify-content-start">
                            <button class="btn" id="boton-compra" type="button">Comprar</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Titulo pagina -->
    <section class="container-fluid page-casual">
        <h2 class="col subtitulo text-center">Baloncesto</h2>
    </section>
    <!-- Fin titulo pagina -->
    <!-- Inicio Video -->
        <div class="video">
            <iframe width="100%" height="415" src="https://www.youtube-nocookie.com/embed/UbpuZCB3x9k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    <!-- Fin video -->
    <!-- Inicio sección zapatillas -->
    <section class="container-fluid">  
        <div class="row bg-categorias">  
            <h3 class="col text-center">Zapatillas</h3>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="card bg-card" style="width: 22rem;">
                <img class="card-img-top" src="../Imagenes/Baloncesto/zapatos/kd14-nikeBL.jpg" alt="Zapatillas Kevin Duran">
                <div class="card-body">
                    <p class="card-title"><strong>Zapatillas Kevin Duran 14 - Nike</strong></p>
                    <p class="card-text">Las KD14 están diseñadas para ayudar a los jugadores versátiles e implacables como KD a mantener la frescura durante todo el partido.</p>
                    <p class="card-text"><strong>$45500</strong></p> 
                </div>
                <select class="form-select form-select-sm" id="talles" aria-label="Small select">
                    <option class="menu-talle" selected="">Selecciona tu talle:</option>
                    <option value="1">37</option>
                    <option value="2">39</option>
                    <option value="3">42</option>
                    <option value="4">43</option>
                </select>
                <button type="button" class="btn btn-primary btn-sm" id="btn-box">Seleccionar</button>                    
            </div>
            <div class="card bg-card" style="width: 22rem;">
                <img class="card-img-top" src="../Imagenes/Baloncesto/zapatos/lebron-18-nikeBL.png" alt="Zapatillas LeBron">
                <div class="card-body">
                    <p class="card-title"><strong>Zapatillas LeBron 18 - Nike </strong></p>
                    <p class="card-text">Las LeBron 18 se han diseñado para que saque el máximo partido a sus habilidades y reduzca el estrés al que somete su cuerpo.</p>
                    <p class="card-text"><strong>$52000</strong></p> 
                </div>
                <select class="form-select form-select-sm" id="talles" aria-label="Small select">
                    <option class="menu-talle" selected="">Selecciona tu talle:</option>
                    <option value="1">37</option>
                    <option value="2">39</option>
                    <option value="3">42</option>
                    <option value="4">43</option>
                </select>
                <button type="button" class="btn btn-primary btn-sm" id="btn-box">Seleccionar</button>                    
            </div>
            <div class="card bg-card" style="width: 22rem;">
                <img class="card-img-top" src="../Imagenes/Baloncesto/zapatos/air-jordan-14-retro-se-nikeBT.jpg" alt="Zapatillas Jordan">
                <div class="card-body">
                    <p class="card-title"><strong>Zapatillas Jordan Retro 14 - Nike</strong></p>
                    <p class="card-text">Regresa a los inicios de los 2000 con esta combinación de colores clásica. ¿preparado para esta temporada?</p>
                    <p class="card-text"><strong>$50800</strong></p> 
                </div>
                <select class="form-select form-select-sm" id="talles" aria-label="Small select">
                    <option class="menu-talle" selected="">Selecciona tu talle:</option>
                    <option value="1">37</option>
                    <option value="2">39</option>
                    <option value="3">42</option>
                    <option value="4">43</option>
                </select>
                <button type="button" class="btn btn-primary btn-sm" id="btn-box">Seleccionar</button>                    
            </div>
        </div>
    </section>
    <!-- Final sección zapatillas -->
    <!-- Inicio sección indumentaria -->
    <section class="container-fluid">  
        <div class="row bg-categorias">  
            <h3 class="col text-center">Indumentaria</h3>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="card bg-card" style="width: 22rem;">
                <img class="card-img-top" src="../Imagenes/Baloncesto/indumentaria/jordan-jumpman-nikeBL.jpg" alt="Jumpman - Jordan">
                <div class="card-body">
                    <p class="card-title"><strong>Muñequeras - Jordan</strong></p>
                    <p class="card-text">Las muñequeras Jordan Jumpman están confeccionadas con un tejido elástico y absorbente que ayuda a retener el sudor.</p>
                    <p class="card-text"><strong>$2300</strong></p>
                </div>
                <select class="form-select form-select-sm" id="talles" aria-label="Small select">
                    <option class="menu-talle" selected="">Selecciona tu talle:</option>
                    <option value="1">S</option>
                    <option value="2">M</option>
                    <option value="3">L</option>
                </select>
                <button type="button" class="btn btn-primary btn-sm" id="btn-box">Seleccionar</button>
            </div>
            <div class="card bg-card" style="width: 22rem;">
                <img class="card-img-top" src="../Imagenes/Baloncesto/indumentaria/Pantalon_corto_Allen_Iverson_I3_Mesh_reebokBL.jpg" alt="ShortIverson Mesh">
                <div class="card-body">
                    <p class="card-tittle"><strong>Short Iverson I3 Mesh - Reebok</strong></p>
                    <p class="card-text">Luce todos los detalles del baloncesto original que te gustan con este pantalón corto. La malla transpirable mantiene tu piel fresca.</p>
                    <p class="card-text"><strong>$10500</strong></p>
                </div>
                <select class="form-select form-select-sm" id="talles" aria-label="Small select">
                    <option class="menu-talle" selected="">Selecciona tu talle:</option>
                    <option value="1">S</option>
                    <option value="2">M</option>
                    <option value="3">L</option>
                    <option value="4">2XL</option>
                </select>
                <button type="button" class="btn btn-primary btn-sm" id="btn-box">Seleccionar</button>
            </div>
            <div class="card bg-card" style="width: 22rem;">
                <img class="card-img-top" src="../Imagenes/Baloncesto/indumentaria/Camiseta_Iverson_reebokBL.jpg" alt="Musculosa Iverson">
                <div class="card-body">
                    <p class="card-tittle"><strong>Musculosa Allen Iverson- Reebok</strong></p>
                    <p class="card-text">Camiseta con el logo I3 de Iverson y el Reebok Vector, reversible para hombre. Combínala con tu actitud y llévala de dos maneras distintas.</p>
                    <p class="card-text"><strong>$9990</strong></p>
                </div>
                <select class="form-select form-select-sm" id="talles" aria-label="Small select">
                    <option class="menu-talle" selected="">Selecciona tu talle:</option>
                    <option value="1">S</option>
                    <option value="2">M</option>
                    <option value="3">L</option>
                    <option value="4">2XL</option>
                </select>
                <button type="button" class="btn btn-primary btn-sm" id="btn-box">Seleccionar</button>
            </div>
        </div>
    </section> 
    <!-- Final sección indumentaria -->
    <!-- Inicio footer -->
    <footer>
        <p class="suscripcion-footer">Suscribete y se el primero en recibir nuestras ofertas y promociones:</p>
        <form class="form-footer">
            <input class="email" type="email" required>
            <input class="registro" type="submit" value="Registrarse">
        </form>
        <div class="ubicacion">
            <div class="direccion">
                <a href="https://goo.gl/maps/jkWRgGRRzqsJENP16" target="_blank"><i class="fas fa-map-marker-alt"></i>Ameghino 428, Buenos Aires</a>
                <a href="mailto:contacto@shoesmarket.com"><i class="fas fa-envelope"></i>contacto@shoesmarket.com</a>
            </div>
        </div>
        <div class="redes">
            <a href="https://es-la.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <p class="copyrights">&copy;2021 Yesi Guillent</p>
    </footer>
    <!-- Fin footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>