<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>Shoes Market</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <img class="logo" src="../Imagenes/logoshoesmarket/logo-shoes-market.webp" alt="Logo Shoes Market">
            <h1 class="nombre-tienda">Shoes Market</h1>
            <ul class="menu-container" id="menu">
                <li class="clase-inline inicio"><a href="../index.html">Inicio</a></li>
                <li class="clase-inline Casual"><a href="../views/casual.html">Casual</a></li>
                <li class="clase-inline futbol"><a href="../views/futbol.html">Fútbol</a></li>
                <li class="clase-inline running"><a href="../views/running.html">Running</a></li>
            </ul>   
            <div class="menu-bar" id="menu-bar">
                <i class="fas fa-bars" style="color:white"></i>
            </div>
            <div class="shopping">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </nav>
    </header>
    <!-- Section uno -->
    <section class="page-principio">
        <h2 class="subtitulos">Baloncesto</h2>
        <div class="video">
            <iframe width="100%" height="415" src="https://www.youtube-nocookie.com/embed/UbpuZCB3x9k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <section class="primera-section">
            <h3 class="categorias-zapatillas">Zapatillas</h3>
            <div class="bloque-zapatillas" clase-inline">
                <div class="box-producto">
                    <img class="imagen-producto" src="../Imagenes/Baloncesto/zapatos/kd14-nikeBL.jpg" alt="Zapatillas Kevin Duran">
                    <p class="nombre-productos"><strong>Zapatillas Kevin Duran 14 - Nike</strong></p>
                    <p class="descripcion-productos">Las KD14 están diseñadas para ayudar a los jugadores versátiles e implacables como KD a mantener la frescura durante todo el partido.</p>
                    <p class="precio-productos"><strong>$45500</strong></p> 
                </div>
                <div class="box-producto">
                    <img class="imagen-producto" src="../Imagenes/Baloncesto/zapatos/lebron-18-nikeBL.png" alt="Zapatillas LeBron">
                    <p class="nombre-productos"><strong>Zapatillas LeBron 18 - Nike </strong></p>
                    <p class="descripcion-productos">Las LeBron 18 se han diseñado para que saque el máximo partido a sus habilidades y reduzca el estrés al que somete su cuerpo.</p>
                    <p class="precio-productos"><strong>$52000</strong></p> 
                </div>
                <div class="box-producto" clase-inline">
                    <img class="imagen-producto" src="../Imagenes/Baloncesto/zapatos/air-jordan-14-retro-se-nikeBT.jpg" alt="Zapatillas Jordan">
                    <p class="nombre-productos"><strong>Zapatillas Jordan Retro 14 - Nike</strong></p>
                    <p class="descripcion-productos">Regresa a los inicios de los 2000 con esta combinación de colores clásica. ¿preparado para esta temporada?</p>
                    <p class="precio-productos"><strong>$50800</strong></p> 
                </div>
            </div>
            <h3 class="categorias-indumentaria">Indumentaria</h3>
            <div class="bloque-indumentaria">
                <div class="box-producto clase-inline">
                    <img class="imagen-producto" src="../Imagenes/Baloncesto/indumentaria/jordan-jumpman-nikeBL.jpg" alt="Jumpman - Jordan">
                    <p class="nombre-productos"><strong>Muñequeras - Jordan</strong></p>
                    <p class="descripcion-productos">Las muñequeras Jordan Jumpman están confeccionadas con un tejido elástico y absorbente que ayuda a retener el sudor.</p>
                    <p class="precio-productos"><strong>$2300</strong></p>
                </div>
                <div class="box-producto clase-inline">
                    <img class="imagen-producto" src="../Imagenes/Baloncesto/indumentaria/Pantalon_corto_Allen_Iverson_I3_Mesh_reebokBL.jpg" alt="ShortIverson Mesh">
                    <p class="nombre-productos"><strong>Short Iverson I3 Mesh - Reebok</strong></p>
                    <p class="descripcion-productos">Luce todos los detalles del baloncesto original que te gustan con este pantalón corto. La malla transpirable mantiene tu piel fresca.</p>
                    <p class="precio-productos"><strong>$10500</strong></p>
                </div>
                <div class="box-producto clase-inline">
                    <img class="imagen-producto" src="../Imagenes/Baloncesto/indumentaria/Camiseta_Iverson_reebokBL.jpg" alt="Musculosa Iverson">
                    <p class="nombre-productos"><strong>Musculosa Allen Iverson- Reebok</strong></p>
                    <p class="descripcion-productos">Camiseta con el logo I3 de Iverson y el Reebok Vector, reversible para hombre. Combínala con tu actitud y llévala de dos maneras distintas.</p>
                    <p class="precio-productos"><strong>$9990</strong></p>
                </div>
            </div>
        </section>
    </section> 
    <footer>
        <p class="suscripcion-footer">Suscribete y se el primero en recibir nuestras ofertas y promociones:</p>
        <form class="form-footer">
            <input type="email" required>
            <input type="submit" value="Registrarse">
        </form>
        <div class="ubicacion">
            <div class="direccion">
            <i class="fas fa-map-marker-alt"></i>
            <p class="parrafo-direccion">Ameghino 428, Buenos Aires</p>               
            </div>
            <div class="mail">
                <i class="fas fa-envelope"></i>
                <p class="parrafo-mail">contacto@shoesmarket.com</p>
            </div>
        </div>
        <div class="redes">
            <a href="https://es-la.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
        </div>
        <p class="copyrights">&copy;2021 Yesi Guillent</p>
    </footer>
    <script src="./js/script.js"></script>
</body>
</html>