<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>Shoes Market</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <img class="logo" src="../Imagenes/logoshoesmarket/logo-shoes-market.webp" alt="Logo Shoes Market">
            <h1 class="nombre-tienda">Shoes Market</h1>
            <ul class="menu-container" id="menu">
                <li class="clase-inline inicio"><a href="../index.html">Inicio</a></li>
                <li class="clase-inline running"><a href="../views/running.html">Running</a></li>
                <li class="clase-inline futbol"><a href="../views/futbol.html">Fútbol</a></li>
                <li class="clase-inline baloncesto"><a href="../views/baloncesto.html">Baloncesto</a></li>
            </ul>   
            <div class="menu-bar" id="menu-bar">
                <i class="fas fa-bars" style="color:white"></i>
            </div>
            <div class="shopping">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </nav>
    </header>
    <section class="page-casual">
        <h2 class="subtitulos">Casual</h2>
        <section class="section-casual">
            <h3 class="categorias-zapatillas">Zapatillas</h3>
            <div class="bloque-zapatillas">
                <div class="box-producto clase-inline">
                        <img class="productos-casuales" src="../Imagenes/Casual/zapatos/Zapatillas_Club_C_Revenge_Pride_reebokCS.jpg" alt="Zapatillas Revenge Pride Reebok">
                        <p class="nombre-productos-casuales"><strong>Zapatillas Revenge Pride - Reebok</strong></p>
                        <p class="descripcion-productos-casuales">. Lucí tu estilo y actitud con orgullo con este modelo de la colección Pride.</p>
                        <p class="precio-productos-casuales"><strong>$11000</strong></p>
                </div>
                <div class="box-producto clase-inline">
                    <img class="productos-casuales" src="../Imagenes/Casual/zapatos/Samba_adidasCS.jpg" alt="Zapatillas Samba Adidas">
                    <p class="nombre-productos-casuales"><strong>Zapatillas Samba - Adidas</strong></p>
                    <p class="descripcion-productos-casuales">Un clásico de las canchas de fútbol reimaginado para el skateboarding.</p>
                    <p class="precio-productos-casuales"><strong>$14000</strong></p>
                </div>
                <div class="box-producto clase-inline">
                    <img class="productos-casuales" src="../Imagenes/Casual/zapatos/made_UK_577_new_balance_CS.jpg" alt="Zapatillas made UK New Balance">
                    <p class="nombre-productos-casuales"><strong>Zapatillas Made UK - New Balance</strong></p>
                    <p class="descripcion-productos-casuales">Versión premium de la zapatilla MADE UK 577 de New Balance.</p>
                    <p class="precio-productos-casuales"><strong>$8500</strong></p>
                </div>
                <div class="box-producto clase-inline">
                    <img class="productos-casuales" src="../Imagenes/Casual/zapatos/Superstar_adidasCS.jpg" alt="Zapatillas superstar">
                    <p class="nombre-productos-casuales"><strong>Zapatillas Superstar - Adidas</strong></p>
                    <p class="descripcion-productos-casuales">Las autenticas zapatillas que representan a los amantes de la moda urbana.</p>
                    <p class="precio-productos-casuales"><strong>$18500</strong></p>
                </div>
            </div>
            <h3 class="categorias-indumentaria">Indumentaria</h3>
            <div class="bloque-indumentaria">
                <div class="box-producto clase-inline">
                    <img class="productos-casuales" src="../Imagenes/Casual/indumentaria/buzo-chmoofolio_adidasCS.jpg" alt="Buzo adidas">
                    <p class="nombre-productos-casuales"><strong>Buzo grueso - Adidas</strong></p>
                    <p class="descripcion-productos-casuales">Este buzo forma parte de la colección Shmoofolio de Mark Gonzales para adidas Skateboarding.</p>
                    <p class="precio-productos-casuales"><strong>$15000</strong></p>
                </div>
                <div class="box-producto clase-inline">
                    <img class="productos-casuales" src="../Imagenes/Casual/indumentaria/campera-boca_adidasCS.jpg" alt="Campera boca">
                    <p class="nombre-productos-casuales"><strong>Campera Boca - Adidas</strong></p>
                    <p class="descripcion-productos-casuales">Campera con las 3 Tiras de Adidas y las cuatro letras del clásico escudo de Boca Juniors.</p>
                    <p class="precio-productos-casuales"><strong>$11000</strong></p>
                </div>
                <div class="box-producto clase-inline">
                    <img class="productos-casuales" src="../Imagenes/Casual/indumentaria/mochila-classic-adidasCS.jpg" alt="Mochila adidas">
                    <p class="nombre-productos-casuales"><strong>Mochila Classic Adicolor - Adidas</strong></p>
                    <p class="descripcion-productos-casuales">Mochila amplia con el clásico diseño de las 3 líneas de adidas. Ideal para todos llevarla a donde quieras.</p>
                    <p class="precio-productos-casuales"><strong>$6999</strong></p>
                </div>
                <div class="box-producto clase-inline">
                    <img class="productos-casuales" src="../Imagenes/Casual/indumentaria/remera-Nora_adidasCS.jpg" alt="Remera adidas">
                    <p class="nombre-productos-casuales"><strong>Remera Nora - Adidas</strong></p>
                    <p class="descripcion-productos-casuales">Remera con el clásico logo de Adidas. Diseñada para ti en exclusiva por Nora Vasconcellos para Adidas.</p>
                    <p class="precio-productos-casuales"><strong>$3800</strong></p>
                </div>
            </div>
        </section>
    </section>
    <footer>
        <p class="suscripcion-footer">Suscribete y se el primero en recibir nuestras ofertas y promociones:</p>
        <form class="form-footer">
            <input type="email" required>
            <input type="submit" value="Registrarse">
        </form>
        <div class="ubicacion">
            <div class="direccion">
            <i class="fas fa-map-marker-alt"></i>
            <p class="parrafo-direccion">Ameghino 428, Buenos Aires</p>               
            </div>
            <div class="mail">
                <i class="fas fa-envelope"></i>
                <p class="parrafo-mail">contacto@shoesmarket.com</p>
            </div>
        </div>
        <div class="redes">
            <a href="https://es-la.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
        </div>
        <p class="copyrights">&copy;2021 Yesi Guillent</p>
    </footer>
</body>
</html>