<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
    crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <!-- Meta tag -->
    <meta name="description" content="Consigue todo lo que necesitas de tus marcas favoritas. Zapatillas, camperas, short, joggings Adidas, Reebok, Puma, New Balance.">
    <!-- KW -->
    <meta name="keywords" content="tienda virtual, indumentaria deportiva, deporte, camperas, remeras, short, joggings, zapatillas adidas, zapatillas nike, zapatillas puma, zapatillas jordan">

    <!-- Open Graph -->
    <meta property="og:tittle" content="Shoes Market - Zapatillas e indumentaria casual">
    <meta property="og:description" content="Consigue todo lo que necesitas de tus marcas favoritas. Zapatillas, camperas, short, joggings Adidas, Reebok, Puma, New Balance">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../Imagenes/logoshoesmarket/logo-shoes-market.ico" type="image/x-icon">
    
    <title>Shoes Market - Zapatillas e indumentaria casual</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-header">
            <div class="container">
                <a class="navbar-brand" href="../index.html" target="_blank">
                    <img src="../Imagenes/logoshoesmarket/logo-shoes-market.webp" alt="Logo ShoesMarket" width="55" height="55" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler boton-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row" id="navbarNav">
                    <div>
                        <a class="nombre-tienda" href="../index.html" target="_blank">Shoes Market</a>
                        <h1 class="descripcion-site">Tienda Deportiva</h1>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" id="text" aria-current="page" href="../index.html" target="_blank">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text" href="../views/casual.html">Casual</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text" href="../views/futbol.html" target="_blank">Futbol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text" href="../views/running.html" target="_blank">Running</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text" href="../views/baloncesto.html" target="_blank">Baloncesto</a>
                        </li>
                        <button class="btn" id="boton-compra" type="button">Comprar</button>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="container-fluid page-casual">
        <h2 class="col subtitulo text-center">Casual</h2>
        <section class="row bg-categorias">
        <h3 class="col text-center">Zapatillas</h3>
        </section>
    </section>
    <section class="container">
        <div class="row">
            <div class="card bg-card" style="width: 16rem;">
                <img class="card-img-top" src="../Imagenes/Casual/zapatos/Zapatillas_Club_C_Revenge_Pride_reebokCS.jpg" alt="Zapatillas Revenge Pride Reebok">
                <div class="card-body">
                    <p class="card-title"><strong>Zapatillas Revenge Pride - Reebok</strong></p>
                    <p class="card-text">Lucí tu estilo y actitud con orgullo con este modelo de la colección Pride.</p>
                    <p class="card-text"><strong>$11000</strong></p>
                </div>
                    <select class="form-select form-select-sm" id="talles-casual" aria-label="Small select">
                        <option class="menu-talle" selected="">Selecciona tu talle:</option>
                        <option value="1">37</option>
                        <option value="2">39</option>
                        <option value="3">42</option>
                        <option value="4">43</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" id="btn-box-casual">Seleccionar</button>                    
            </div>
            <div class="card bg-card" style="width: 16rem;">
                <img class="card-img-top" src="../Imagenes/Casual/zapatos/Samba_adidasCS.jpg" alt="Zapatillas Samba Adidas">
                <div class="card-body">
                    <p class="card-tittle"><strong>Zapatillas Samba Classic - Adidas</strong></p>
                    <p class="card-text">Un clásico de las canchas de fútbol reimaginado para el skateboarding.</p>
                    <p class="card-text"><strong>$14000</strong></p>
                </div>
                    <select class="form-select form-select-sm" id="talles-casual" aria-label="Small select">
                        <option class="menu-talle" selected="">Selecciona tu talle:</option>
                        <option value="1">37</option>
                        <option value="2">39</option>
                        <option value="3">42</option>
                        <option value="4">43</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" id="btn-box-casual">Seleccionar</button>                    
            </div>
            <div class="card bg-card" style="width: 16rem;">
                <img class="card-img-top" src="../Imagenes/Casual/zapatos/made_UK_577_new_balance_CS.jpg" alt="Zapatillas made UK New Balance">
                <div class="card-body">
                    <p class="card-tittle"><strong>Zapatillas Made UK - New Balance</strong></p>
                    <p class="card-text">Versión premium de la zapatilla MADE UK 577 de New Balance.</p>
                    <p class="card-text"><strong>$8500</strong></p>
                </div>
                    <select class="form-select form-select-sm" id="talles-casual" aria-label="Small select">
                    <option class="menu-talle" selected="">Selecciona tu talle:</option>
                    <option value="1">37</option>
                    <option value="2">39</option>
                    <option value="3">42</option>
                    <option value="4">43</option>
                </select>
                <button type="button" class="btn btn-primary btn-sm" id="btn-box-casual">Seleccionar</button>                    
            </div>
            <div class="card bg-card" style="width: 16rem;">
                <img class="card-img-top" src="../Imagenes/Casual/zapatos/Superstar_adidasCS.jpg" alt="Zapatillas superstar">
                <div class="card-body">
                    <p class="card-tittle"><strong>Zapatillas Superstar - Adidas</strong></p>
                    <p class="card-text">Las autenticas zapatillas que representan a los amantes de la moda urbana.</p>
                    <p class="card-text"><strong>$18500</strong></p>
                </div>
                    <select class="form-select form-select-sm" id="talles-casual" aria-label="Small select">
                        <option class="menu-talle" selected="">Selecciona tu talle:</option>
                        <option value="1">37</option>
                        <option value="2">39</option>
                        <option value="3">42</option>
                        <option value="4">43</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" id="btn-box-casual">Seleccionar</button>                    
            </div>
        </div>
    </section>
    <section class="row bg-categorias">
        <h3 class=" col text-center">Indumentaria</h3>
    </section>
    <section class="container">
        <div class="row">
            <div class="card bg-card" style="width: 16rem;">
                <img class="card-img-top" src="../Imagenes/Casual/indumentaria/buzo-chmoofolio_adidasCS.jpg" alt="Buzo adidas">
                <div class="card-body">
                    <p class="card-tittle"><strong>Buzo grueso - Adidas</strong></p>
                    <p class="card-text">Este buzo forma parte de la colección Shmoofolio de Mark Gonzales para adidas Skateboarding.</p>
                    <p class="card-text"><strong>$15000</strong></p>
                </div>
                    <select class="form-select form-select-sm" id="talles-casual" aria-label="Small select">
                        <option class="menu-talle" selected="">Selecciona tu talle:</option>
                        <option value="1">S</option>
                        <option value="2">M</option>
                        <option value="3">L</option>
                        <option value="4">XL</option>
                        <option value="4">2XL</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" id="btn-box-casual">Seleccionar</button>                    
            </div>
            <div class="card bg-card" style="width: 16rem;">
                <img class="card-img-top" src="../Imagenes/Casual/indumentaria/campera-boca_adidasCS.jpg" alt="Campera boca">
                <div class="card-body">
                    <p class="card-tittle"><strong>Campera Boca - Adidas</strong></p>
                    <p class="card-text">Campera con las 3 Tiras de Adidas y las cuatro letras del clásico escudo de Boca Juniors.</p>
                    <p class="card-text"><strong>$11000</strong></p>
                </div>
                    <select class="form-select form-select-sm" id="talles-casual" aria-label="Small select">
                        <option class="menu-talle" selected="">Selecciona tu talle:</option>
                        <option value="1">S</option>
                        <option value="2">M</option>
                        <option value="3">L</option>
                        <option value="4">XL</option>
                        <option value="4">2XL</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" id="btn-box-casual">Seleccionar</button> 
            </div>
            <div class="card bg-card" style="width: 16rem;">
                <img class="card-img-top" src="../Imagenes/Casual/indumentaria/mochila-classic-adidasCS.jpg" alt="Mochila adidas">
                <div class="card-body">
                    <p class="card-tittle"><strong>Mochila Classic - Adidas</strong></p>
                    <p class="card-text">Mochila amplia con el clásico diseño de las 3 líneas de adidas. Ideal para todos llevarla a donde quieras.</p>
                    <p class="card-text"><strong>$6999</strong></p>
                </div>
                    <select class="form-select form-select-sm" id="talles-casual" aria-label="Small select">
                        <option class="menu-talle" selected="">Selecciona tu talle:</option>
                        <option value="1">Unico</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" id="btn-box-casual">Seleccionar</button> 
            </div>
            <div class="card bg-card" style="width: 16rem;">
                <img class="card-img-top" src="../Imagenes/Casual/indumentaria/remera-Nora_adidasCS.jpg" alt="Remera adidas">
                <div class="card-body">
                    <p class="card-tittle"><strong>Remera Nora - Adidas</strong></p>
                    <p class="card-text">Remera con el clásico logo de Adidas. Diseñada para ti en exclusiva por Nora Vasconcellos para Adidas.</p>
                    <p class="card-text"><strong>$3800</strong></p>
                </div>
                    <select class="form-select form-select-sm" id="talles-casual" aria-label="Small select">
                        <option class="menu-talle" selected="">Selecciona tu talle:</option>
                        <option value="1">S</option>
                        <option value="2">M</option>
                        <option value="3">L</option>
                        <option value="4">XL</option>
                        <option value="4">2XL</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-sm" id="btn-box-casual">Seleccionar</button> 
            </div>
        </div>
    </section>
    <!-- Inicio footer -->
    <footer>
        <p class="suscripcion-footer">Suscribete y se el primero en recibir nuestras ofertas y promociones:</p>
        <form class="form-footer">
            <input class="email" type="email" required>
            <input class="registro" type="submit" value="Registrarse">
        </form>
        <div class="ubicacion">
            <div class="direccion">
                <a href="https://goo.gl/maps/jkWRgGRRzqsJENP16" target="_blank"><i class="fas fa-map-marker-alt"></i>Ameghino 428, Buenos Aires</a>
                <a href="mailto:contacto@shoesmarket.com"><i class="fas fa-envelope"></i>contacto@shoesmarket.com</a>
            </div>
        </div>
        <div class="redes">
            <a href="https://es-la.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <p class="copyrights">&copy;2021 Yesi Guillent</p>
    </footer>
    <!-- Fin footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>