<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Fonts de google -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
     
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>Shoes Market</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <img class="logo" src="../Imagenes/logoshoesmarket/logo-shoes-market.webp" alt="Logo Shoes Market">
            <h1 class="nombre-tienda">Shoes Market</h1>
            <ul class="menu-container" id="menu">
                <li class="clase-inline inicio"><a href="../index.html">Inicio</a></li>
                <li class="clase-inline Casual"><a href="../views/casual.html">Casual</a></li>
                <li class="clase-inline futbol"><a href="../views/futbol.html">Fútbol</a></li>
                <li class="clase-inline baloncesto"><a href="../views/baloncesto.html">Baloncesto</a></li>
            </ul>   
            <div class="menu-bar" id="menu-bar">
                <i class="fas fa-bars" style="color:white"></i>
            </div>
            <div class="shopping">
                <i class="fas fa-shopping-cart"></i>
            </div>
        </nav>
    </header>
    <!-- Section uno -->
    <section class="page-principio">
        <h2 class="subtitulos">Running</h2>
        <div class="playlist-running">
            <p class="playlist">Escucha nuestro <strong>Playlist for Running</strong></p>
            <iframe src="https://open.spotify.com/embed/playlist/4SGVXDZCWItkbOgfVdGlsi?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
        <section class="primera-section">
            <h3 class="categorias-zapatillas">Zapatillas</h3>
            <div class="bloque-zapatillas">
                <div class="box-producto">
                    <img class="imagen-producto" src="../Imagenes/Running/zapatillas/air-zoom-pegasus-38-shield-nikeRN.jpg" alt="Zapatilla Pegasus shield">
                    <p class="nombre-producto"><strong>Air Zoom Pegasus Shield</strong></p>
                    <p class="descripcion-productos">Estas Air Zoom Pegasus Shield 38 de Nike, estan confeccionadas con la espuma Nike React para proporcionarte pisadas con mayor rebote</p>
                    <p class="precio-productos"><strong>$23000</strong></p>
                </div>
                <div class="box-producto clase-inline">
                    <img class="imagen-producto" src="../Imagenes/Running/zapatillas/Ultraboost_21_Tokio_adidasRN.jpg" alt="Zapatilla Ultraboost">
                    <p class="nombre-producto"><strong>Ultraboost 21 Tokio</strong></p>
                    <p class="descripcion-productos">Las nuevas Ultraboost 21 estan hechas con el exclusivo Primeblue, un tejido reciclado de más alto rendimiento</p>
                    <p class="precio-productos"><strong>$30500</strong></p>
                </div>
                <div class="box-producto clase-inline">
                    <img class="imagen-producto" src="../Imagenes/Running/zapatillas/Zig_Kinetica_reebokRN.jpg" alt="Zapatilla zigkinetica">
                    <p class="nombre-productos"><strong>Zig Kinetica</strong></p>
                    <p class="descripcion-productos">Estas Zig Kinetica están inspirados en la exploración espacial y en las maravillas desconocidas de otros mundos</p>
                    <p class="precio-productos"><strong>$19990</strong></p>
                </div>
            </div>
            <h3 class="categorias-indumentaria">Indumentaria</h3>
            <div class="bloque-indumentaria">
                <div class="box-producto clase-inline">
                    <img class="imagen-producto" src="../Imagenes/Running/indumentaria/Calzas_Own_The_Run_Club_adidasRN.jpg" alt="Calzas running">
                    <p class="nombre-productos"><strong>Calzas Own The Run Club - Adidas</strong></p>
                    <p class="descripcion-productos">Calza para running con diseño llamativo y bolsillo para el teléfono</p>
                    <p class="precio-productos"><strong>$11500</strong></p> 
                </div>
                <div class="box-producto clase-inline">
                    <img class="imagen-producto" src="../Imagenes/Running/indumentaria/Campera_Reflectante_Own_the_Run_adidasRN.jpg" alt="Campera running">
                    <p class="nombre-productos"><strong>Campera Reflectante Own The Run Club - Adidas</strong></p>
                    <p class="descripcion-productos">Una campera para correr bajo la lluvia y el viento</p>
                    <p class="precio-productos"><strong>$15500</strong></p> 
                </div>
                <div class="box-producto clase-inline">
                    <img class="imagen-producto" src="../Imagenes/Running/indumentaria/Running_Essentials_reebokRN.jpg" alt="Top running">
                    <p class="nombre-productos"><strong>Sujetador de alto impacto To The Max - Puma</strong></p>
                    <p class="descripcion-productos">Una campera para correr bajo la lluvia y el viento</p>
                    <p class="precio-productos"><strong>$7800</strong></p> 
                </div>
            </div>
        </section>
    </section>
    <footer>
        <p class="suscripcion-footer">Suscribete y se el primero en recibir nuestras ofertas y promociones:</p>
        <form class="form-footer">
            <input type="email" required>
            <input type="submit" value="Registrarse">
        </form>
        <div class="ubicacion">
            <div class="direccion">
            <i class="fas fa-map-marker-alt"></i>
            <p class="parrafo-direccion">Ameghino 428, Buenos Aires</p>               
            </div>
            <div class="mail">
                <i class="fas fa-envelope"></i>
                <p class="parrafo-mail">contacto@shoesmarket.com</p>
            </div>
        </div>
        <div class="redes">
            <a href="https://es-la.facebook.com"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
        </div>
        <p class="copyrights">&copy;2021 Yesi Guillent</p>
    </footer>
</body>
</html>