@import '../base/mixins';

/* Titulo de pagina*/
.subtitulo {
    font-family: 'Mulish', sans-serif;
    font-size: $font-subtitulos;
    margin: 10px;
}
/* Categoria de pagina*/
    .bg-categorias {
        background-color: $bg-color-secundario;
        color: $color-font;
    }

    .bg-card{
        background-color: $bg-color;
        margin: 10px;
        padding: 10px;
        cursor:pointer;
        
        &:hover {
            background-color: $bg-hoover;
            div p {
                color: $color-font-hoover
            }
        }
        div {
            p {
                color: $color-font;
            }
        }
        #talles{
            @extend %opcion-talles;
            width: 55%;
            align-self: center;
        }
        #talles-casual{
            @extend %opcion-talles;
            width: 78%;
            align-self: center;
        }
        #btn-box {
            @extend %boton-seleccionar;
            width: 80%;
        }
        #btn-box-casual {
            @extend %boton-seleccionar;
            width: 90%;
        }
    }
