/*Main Index*/
.carousel-inner{
    div {
        .img-carousel {
            height: 90vh;
            width: auto;
            
            
            /*Media Query Carousel*/
            @media screen and (max-width: 768px) {
                height: 65vh;
                width: auto;
            }
        }
    }
        div{
            h2{
                @extend %titulo-carousel-light;
            }
            p {
                @extend %texto-carousel-dark;
            }
            .texto-oferta-nike{
                @extend %texto-carousel-light;
            }
        }

}
.zapatillas, .indumentaria {
    width: 620px;
    padding: 10px;
    /*Media Query Carousel*/
    @media screen and (max-width: 575px) {
        width: 170px;
    }
    @media screen and (min-width: 576px) and (max-width: 768px) {
        width: 300px;
    }
    @media screen and (min-width: 769px) and (max-width: 992px) {
        width: 500px;
    }
}
.container{
    margin-bottom: 50px;

}
.adidas, .jordan, .nike, .reebok, .puma, .new-balance {
    height: $imagen-logos;
    /*Media Query section tres*/
    @media screen and (max-width: 980px) {
        height: 60px;
    }
}
.whatsapp {
    width: 50px;
    position: fixed;
    bottom: 0px;
    right: 30px;
}