%titulo-carousel {
    color: #11468F;
    font-family: 'Mulish', sans-serif;
    font-size: 45px;
}
%texto-carousel {
    color: #F3950D;
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
}
%reset-page {
    margin: 0%;
    padding: 0%;
    background-color: #ECECEC;
}