/* Variables generales*/
$color-font: #fff;
$color-font-hoover: #001523;
$font-general: 40px;
$bg-color: #001523;
$bg-color-secundario: #CC031D;
$bg-hoover: #ffddd2;

$font-subtitulos: 3.5rem;
$font-categorias: 1.5em;
$font-name: 3.5em;

$imagen-logos: 100px;
